<div class="w-100 d-flex justify-content-center mt-4">
  <div class="card w-50 text-start">

    <div class="card-body">
      <h4 class="card-title">Páginas Admin <i class="bi bi-gear"></i></h4>
      <ul>
        <li><a href="/admin/cadastrarcategoria">Cadastrar Categoria</a></li>
        <li><a href="/admin/cadastrarservico">Cadastrar Tipos de Serviços</a></li>
        <li><a href="/admin/delete">Administrar Categorias ou Tipos de Serviços</a></li>
        <li><a href="/admin/validarTEC">Validar Profissionais</a></li>
      </ul>
    </div>
  </div>
</div>