{{#if session}}

{{!-- SE LOGADO --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #F2F9FF !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button><img src="/images/logo_sem_nome.svg" id="logoImg" class="rounded-5" style="width: 4% !important ;margin-left: 2vh;">
    <a class="navbar-brand" href="/">TeConex</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">ITEM1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">ITEM2</a>
            </li>
        </ul>
    </div>
    <a href="/tec/logout"><button class="btn text-white" style="margin-right: 2vh; background-color: #003C5F">Log out <i
                class="bi bi-door-closed-fill"></i></button></a>
</nav>

{{!-- TECNICO OU EMPRESA? --}}



{{else}}




{{!-- TECNICO OU EMPRESA? --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #F2F9FF !important;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img src="/images/logo_sem_nome.svg" class=" rounded-5" id="logoImg" style="width: 4%; margin-left: 1.5vh">
    <a class="navbar-brand" href="/" style="margin-left: 0vh;">TeConex </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#contatos"><i class="bi bi-telephone"></i> Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Saiba mais</a>
            </li>
        </ul>
    </div>
    <a href="/tec/login"><button class="btn text-white" style="margin-right: 2vh; background-color: #003C5F">Login <i
                class="bi bi-person-circle"></i></button></a>
</nav>
{{/if}}