<div class="row mt-3" style="height: 85vh; ">
    <div class="col-md-3 h-100">
        <div class="card w-100 h-100 p-0" style="background-color: #ececec;">
            <div class="card-header">
                <h6> <i class="bi bi-globe-americas"></i> Região (ajeitar back-end)</h6>
            </div>
            <div class="card-body w-100 d-flex flex-column" style="background-color: #4153de;">
                <ul class="list-group" style="margin-left: 2vh">
                    <li>Ferramentas do técnico</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card w-100 h-100">
            <div class="card-header">
                <h5 class="card-title">Trabalhos para os técnicos</h5>
                <p class="card-text">Conteúdo da Coluna 2.</p>
            </div>
            <div class="card-body w-100 d-flex justify-content-center">

                <div class="card w-75 h-25 p-1">
                    <div class="w-100 h-100 d-flex flex-column">
                        <div class="row d-flex justify-content-around">

                            <div
                                class=" col-md-6 d-flex justify-content-center align-items-center bg-secondary mt-2 rounded-1">
                                <h5 class="mt-1"><i class="bi bi-building"></i>Empresa</h5>
                            </div>
                            <div class="bg-success col-md-5 h-100 d-flex justify-content-center align-items-center mt-2 rounded-1">
                                <h5>Valor: $$$$</h5>
                            </div>

                        </div>
                        <div class="h-25">

                        </div>
                        <div class="w-100">
                            <button class="btn btn-success w-100 btn-sm">
                                <h4>Candidatar-se</h4>
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card w-100 h-100">
            <div class="card-body">
                <h5 class="card-title">Coluna 3</h5>
                <p class="card-text">Conteúdo da Coluna 3.</p>
            </div>
        </div>
    </div>
</div>