<div class="container d-flex" style="height: 400px;">
    <div style="background-image: url(https://sesirs.org.br/sites/default/files/styles/2x1_lg/public/paragraphs--image-top/banner_topo_seg_trab.jpg?itok=ncIL5q3p);"
        id="background-img"
        class="container w-100 h-100 d-flex align-items-center justify-content-center flex-column rounded-3 bg-image">
        <div class="w-75 text-center">
            <h5 class="text-white h2">
                Providenciamos uma visita que mudará sua empresa
            </h5>
        </div>
        <button class="btn btn-primary rounded-3 p-3 mb-2 mt-2"
            style="background-color: rgba(0, 123, 255, 0.8); border: none;">
            <h2 style="color: rgba(255, 255, 255, 1) !important; margin-bottom: 0 !important;">Contratar Serviços</h2>
        </button>
        <button class="rounded-2 p-2"
            style="border: none; background-color: rgba(41, 41, 211, 0.2); font-weight: 500; color: rgba(255, 255, 255);">
            Sou Profissional
        </button>
    </div>
</div>
{{!--
<div class="container bg-light mt-3 rounded-2" style="height: 35vh;">
    <div class="row h-100">
        <div class="col-4 h-100 d-flex align-items-center p-0">
            <div class="h-100 w-100" id="anlImg">

            </div>
        </div>
        <div class="col col-8 bg-light rounded-2 h-100">
            <div>
                <h3 class="text-center mt-4">Serviços

                </h3>

                <ul>



                    <li class="list-group-item">Análise de riscos</li>
                    <li class="list-group-item">Serviço2</li>
                    <li class="list-group-item">Serviço3</li>
                </ul>
            </div>
        </div>
    </div>
</div> --}}


<div class="container mt-3 rounded-2" id="cardServices">
    <div class="row flex-column flex-md-row justify-content-around align-items-center">

        <div class="col-10 col-md-3 colServices">
            <!-- Conteúdo da segunda coluna -->
            <h4>Serviço 2</h4>
            <p>aasadasd</p>
        </div>
        <div class="col-10 col-md-4 colServices">
            <!-- Conteúdo da primeira coluna -->
            <img src="/images/iconSST.png" style="width: 20%;">
            <h4>Análise de riscos</h4>
            <p class="text-black">Nossos especialistas em segurança conduzem análises para identificar e mitigar riscos
                em sua empresa, assegurando a proteção de seu negócio e a tranquilidade de seus colaboradores.</p>
        </div>
        <div class="col-10 col-md-3 colServices">
            <!-- Conteúdo da terceira coluna -->
            <p>Coluna 3</p>
        </div>
    </div>
</div>




<div class="d-flex justify-content-around container mt-3" style="margin-top: 2vh;">
    <div class="d-lg-flex w-100">
        <div class="d-md-flex align-items-center mb-lg-0 mb-md-5 justify-content-around">
            <div class="col1 me-md-4 mb-md-0 mb-5 w-100 ">
                <div class="card pb-4 w-100">
                    <span class="fab fa-envira mt-3"><img src="https://i.ibb.co/1btf1Tr/Safetynofd.png"
                            class="img-fluid"></span>
                    <p class="h4 pt-4">Profissionais especializados</p>
                    <p class="p1 text-muted">
                        Seeking justice in the world is a sed significant emotional and investment when we
                    </p>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </div>
            <div class="col3 me-md-4 mb-md-0 mb-5 w-100" style="margin: 0 !important;">
                <div class="card pb-4 w-100">
                    <span class="fas fa-people-carry mt-3"><img src="https://i.ibb.co/1btf1Tr/Safetynofd.png"
                            class="img-fluid"></span>
                    <p class="h4 pt-4">Olhar Crítico</p>
                    <p class="p1 text-muted">
                        Seeking justice in the world is a sed significant emotional and investment when we
                        follow this call.
                    </p>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-5 my-4 border-top bg-white mb-0">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <span class="mb-1 mb-md-0 text-muted">© 2023 SafetyWork, Inc</span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" style="margin-right: 4vh;">
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-whatsapp"></i></a></li>
    </ul>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>