<div class="d-flex justify-content-center align-items-center h-100 w-100" style="height: 91vh !important;">
    <div class="card w-75" id="cardf" style="background-color: rgb(239, 186, 41);">

        <div class="card-body w-50">

            <h5 class="card-title d-flex justify-content-center">NomeX</h5>
            <br>
            <h6 class="card-subtitle mb-2 text-body-secondary" style="color: black !important;">Usuário</h6>

            <input class="form-control mb-1 input-xl" type="text" placeholder="Digite seu usuário"
                aria-label="default input example" style="height: 3rem !important;">


            <label for="inputPassword5" class="form-label">
                <h6 class="card-subtitle text-body-secondary" style="color: black !important;">Senha</h6>
            </label>

            <input type="password" id="inputPassword5" class="form-control input-xl" placeholder="Digite sua senha"
                aria-describedby="passwordHelpBlock"  style="height: 3rem !important;">
            <div class="d-grid gap-2">

                <br>

                <button type="button" class="btn btn-primary">Enviar</button>

            </div>

            <br>
            <a href="#" class="card-link" style="color: rgba(0, 24, 7, 0.788);">Esqueci a senha</a>
            <a href="#" class="card-link" style="color: rgba(0, 28, 8, 0.808);">Cadastre-se</a>

        </div>
    </div>
</div>
