<div class="d-flex justify-content-center align-items-center w-100" style="height: 70vh !important;">
    <div class="card w-50" id="cardf" style="background-color: #F2F9FF;" style="width: 60% !important;">

        <div class="card-body w-75">

            <h2 class="card-title d-flex justify-content-center">Teconect</h2>
            <br>
            <h6 class="card-subtitle mb-2 text-body-secondary" style="color: black !important;">Usuário</h6>
            <form  method="post" action="/login">
                <input class="form-control mb-1 input-xl" type="text" placeholder="Digite seu usuário"
                    aria-label="default input example" style="height: 3rem !important; font-size: 100%" name="username">


                <label for="inputPassword5" class="form-label">
                    <h6 class="card-subtitle text-body-secondary" style="color: black !important;">Senha</h6>
                </label>

                <input type="password" id="inputPassword5" class="form-control input-xl" placeholder="Digite sua senha"
                    aria-describedby="passwordHelpBlock" style="height: 3rem !important;" name="senha">
                <div class="d-grid gap-2">

                    <br>

                    <button type="submit" class="btn text-white" style="background-color: #003C5F;">Enviar</button>
            </form>
        </div>

        <br>
        <a href="#" class="card-link text-primary">Esqueci a senha</a>
        <button data-toggle="modal" data-target="#exampleModalCenter" class="card-link text-primary" style="background-color: transparent; border: none; text-decoration:underline !important">Cadastre-se</button>

    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>