{{#if error}}
<div class="alert alert-warning w-100 error-message">{{error}}</div>
{{/if}}
{{#if success_msg}}

<div class="alert alert-success w-100 success-message text-center">
    <p>{{success_msg}}</p>
</div>
{{/if}}
<div class="w-100 d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card w-50 text-center h-auto" id="cardWaiting">
        <img class="card-img-top h-50 w-50" src="/images/saladeespera.jpg" alt="Card image cap">
        <div class="spinner-border text-primary " role="status">
            <span class="sr-only ">Carregando...</span>
        </div>
        <div class="card-body waiting-container h-auto">
            <h1>Aguarde, Técnico</h1>
            <p>Por favor, aguarde enquanto validamos as informações necessárias. <br><small class="text-warning">A
                    espera pode durar de 1 a 2
                    dias.</small></p>

            <!-- Você pode adicionar informações adicionais ou instruções aqui -->
        </div>
    </div>
</div>